/*Add CSS styles here*/
#mapid {
    height: 800px; /* Set your desired height */
    width: 100%;   /* Optional: Set the width to 100% of the parent container */
    display: inline-block;
  }

  .leaflet-popup-content p { 
    margin: 0.2em 0;
}


#panel {  
  width: 40%;  
  padding: 15px;  
  /* display: inline-block;   */
  vertical-align: top;  
  text-align: center;  
  line-height: 42px;  
  margin: 0 auto;  /* This centers the panel horizontally */
}  

.sequence-control-container {  
  width: 350px;  
  height: 30px;  
  background-color: rgba(255,255,255,0.8);  
  padding: 10px;  
  line-height: 45px;  
  text-align: center;  
  border: solid gray 1px;  
}  


.range-slider {  
    width: 35%;  
}  

.step {  
    width: 20%;  
}  

.step img {  
    width: 100%;  
}  

#forward {  
    float: right;  
}  

#reverse {  
    float: left;  
}


.legend-control-container {
  width: 200px;  /* Adjust the width as needed */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 14px;
  z-index: 999;  /* Ensure it's above other map elements */
  text-align: center;  
  font-weight: bold;  /* Make the text bold */
}

.legend {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 100px;
}

.legend h4 {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.legend i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}


h3 {
  /* background-color: rgba(104, 126, 102, 0.85); */
  color: rgb(14, 13, 13);  /* Optional: Adjust text color if necessary */
  /* height: 50px; Set your desired height */
  /* width: 70%;   */
  /* padding: 30px;   */
  /* display: inline-block;   */
  /* vertical-align: middle;   */
  text-align: center;  
  /* line-height: 42px;  */
}

/* .sequence-control-container button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.sequence-control-container button img {
  vertical-align: middle;
} */




